{% extends "layouts/base-rtl.html" %}

{% block title %} Page 404 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h5 class="card-category text-gray">خطأ 403</h5>
                    <h4 class="card-title">
                        لا تملك الصلاحيات اللازمة للوصول لهذه الصفحة
                    </h4>
                    <br>
                    <button class="btn btn-primary" onclick="history.go(-1);">العودة</button>
                    <a href="{% url 'home' %}" class="btn btn-dark">الرئيسية</a>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
