{% extends "layouts/base-rtl.html" %}
{% block title %} {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}

    <div class="col-md-12 px-0 p-md-4">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">استبيان جديد</h4>
                </div>
            </div>
            <div class="card-body">
                test
            </div>
        </div>
    </div>
{% endblock content %}

