{% extends "layouts/base-rtl.html" %}
{% block title %} {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}

    <div class="col-md-12 px-0 p-md-4">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">استبياناتي</h4>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>الاسم</th>
                        <th class="text-center">تاريخ النشر</th>
                        <th class="text-center d-none d-sm-none d-md-block">عدد الأسئلة</th>
                        <th class="text-center">عدد الردود</th>
                        <th class="text-left">اطلاع وتعديل</th>
                    </tr>
                    </thead>
                    {% if forms %}
                        {% for form in forms %}
                            <tbody>
                            <tr>
                                <td class="text-right"><a href="{% url 'forms:edit' form.id %}">{{ form.name }}</a></td>
                                <td class="text-center">{{ form.pub_date|timesince }}</td>
                                <td class="text-center d-none d-sm-none d-md-block">{{ form.question_set.count }}</td>
                                <td class="text-center">{{ form.reply_set.count }}</td>
                                <td class="td-actions text-left">
                                    <a type="button" rel="tooltip" class="btn btn-success"
                                       href="{% url 'forms:show' form.id %}">
                                        <i class="material-icons">grading</i>
                                    </a>
                                    <a type="button" rel="tooltip" class="btn btn-info"
                                       href="{% url 'forms:edit' form.id %}">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a type="button" rel="tooltip" class="btn btn-danger"
                                       href="{% url 'forms:delete' form.id %}">
                                        <i class="material-icons">close</i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    {% endif %}
                </table>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    نموذج جديد
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">استبيان جديد</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="form" action="{% url 'forms:create' %}" method="post">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="col-md-12 px-0 p-md-4">
                                        <div class="card-body">
                                            <div class="">
                                                <label for="name">اسم الاستبيان</label>
                                                <input type="text" class="form-control required" name="name" id="name"
                                                       placeholder="الاسم" autofocus required>
                                            </div>
                                            <div class="">
                                                <label for="name">وصف الاستبيان</label>
                                                <input type="text" class="form-control" name="description" id="name"
                                                       placeholder="الوصف">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                                    <button type="submit" class="btn btn-primary">انشاء الاستبيان</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        {#$(document).ready(function () {#}
        {#    // Javascript method's body can be found in assets/js/demos.js#}
        {#    md.initDashboardPageCharts();#}
        {#})
        ;
        #}

        // Every time a modal is shown, if it has an autofocus element, focus on it.
        $('.modal').on('shown.bs.modal', function () {
            $(this).find('[autofocus]').focus();
        });
    </script>
{% endblock javascripts %}